* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;

  margin-top: 2rem;

  font-size: 1.6rem;
}

.app {
  width: 50rem;
  height: fit-content;

  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.264);
}

header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  width: 100%;
  height: 12rem;

  padding: 40px;

  background: linear-gradient(267.08deg, #79ACFA 0%, rgba(196, 16, 145, 0.5) 100%);
  color: white;


  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
}

.input_wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: .5rem;
  width: 100%;
}

.input_wrapper input {
  text-indent: 1rem;

  border-radius: 1rem;
  border: 2px solid black;
}

.input_wrapper button {
  margin: 0;
}

.input_wrapper #clear {
  width: 110px;
}

.container_table {
  padding: 30px;
}

table {
  width: 100%;
  min-height: 100%;

  border-collapse: separate;
  border-spacing: 0 8px;
}

table tr td:first-child {
  border-top-left-radius: 20px;
}

table tr td:last-child {
  border-top-right-radius: 20px;
}

table tr td:first-child {
  border-bottom-left-radius: 20px;
}

table tr td:last-child {
  border-bottom-right-radius: 20px;
}

table tbody tr {
  width: 44rem;
  height: 9rem;
  background: #dedcdc;

  transition: all .3s ease;
}

table tbody tr:hover {
  transform: scale(1.1);
}

table tbody tr td {
  padding: 1rem;
}

table tbody td.texts h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;

  color: #000000;
}

table tbody td.texts p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 275;
  font-size: 1.3rem;
  line-height: 1.8rem;

  color: #484848;
}

.logo {
  width: 7rem;
  text-align: center;
}

.logo img {
  width: 6rem;
  border-radius: 50%;
}

button {
  display: block;

  margin: auto;
  width: 84px;
  height: 43px;

  text-align: center;

  color: white;
  background: #2273EC;
  border-radius: 10px;
  border: none;
}

button:hover {
  background: #164791;
}